<div class="container">
	<div class="jumbotron">
		<h1>Hello, Library!</h1>
		<p>This is a Library Control System where you can manage your books, Categories and Users, plus something else... ;)</p>
		<p>
			<a class="btn btn-primary btn-lg" ui-sref="books">search a Book</a>
		</p>
	</div>
</div>