<div class="container">
	<div class="row">
		<div class="blog-header">
		<h1 class="blog-title">Our Books</h1>
			<p class="lead blog-description">This is the listing of our books, we also have availabile the option to submit your owns, and edit or delete existing ones, be careful with that!.</p>
		</div>
	</div>
	<div class="row">

		<div class="filters">
			<h4>Filter by:</h4>
			<div class="form-group col-sm-4">
				<label for="input" class="col-sm-3 control-label">Name</label>
				<div class="col-sm-9">
					<input type="text" name="filter-name" id="input-filter-name" class="form-control" ng-model="Books.filters.name" placeholder="Search by Name">
				</div>
			</div>

			<div class="form-group col-sm-4">
				<label for="input" class="col-sm-3 control-label">Author</label>
				<div class="col-sm-9">
					<input type="text" name="filter-author" id="input-filter-author" class="form-control" ng-model="Books.filters.author" placeholder="Search by Author">
				</div>
			</div>

			<div class="form-group col-sm-4">
				<label for="input" class="col-sm-3 control-label">Category</label>
				<div class="col-sm-9">
					<input type="text" name="filter-category" uib-typeahead="category as category.category_name for category in Books.categories | filter:$viewValue | limitTo:8" typeahead-editable="false" typeahead-input-formatter="Books.formatLabel($model)" id="input-filter-category" class="form-control" ng-model="Books.ta_category_name" placeholder="Search by Category">
				</div>
			</div>
			<div class="col-sm-3">
				<button type="button" ng-click="Books.resetFilters()" class="btn btn-default">Reset Filters</button>
			</div>

			<div class="col-sm-3 pull-right">
				<button type="button" ng-click="Books.addNew()" class="btn btn-default btn-block">Add New Book</button>

			</div>

		</div>

		<div class="clearfix"></div>


		<div class="col-sm-12">
		<p> 
			<br>
		</p>
			<table class="table table-condensed table-hover table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>Author</th>
						<th>Category</th>
						<th>Published Date</th>
						<th>Borrowed By</th>
						<th>Options</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="book in vm.filteredBooks = Books.list | filter : Books.filters | offset : Books.calculateOffset() | limitTo : Books.itemsPerPage">
						<td>{{ book.name }}</td>
						<td>{{ book.author }}</td>
						<td>{{ book.category_name }}</td>
						<td>{{ book.published_date  | date:"MM/dd/yyyy 'at' h:mma" }}</td>
						<td>{{ book.username }}</td>
						<td>
							
							<div class="btn-group">
								<button type="button" class="btn btn-default" ng-click="Books.edit(book)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</button>
								<button type="button" class="btn btn-default" ng-click="Books.delete(book)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</button>
							</div>

						</td>
					</tr>
				</tbody>
			</table>
			<nav>
				<ul class="pagination">
					<li ng-show="Books.currentPage > 1"><a class="btn btn-default" ng-click="Books.decrementPage()">&laquo;</a></li>
					<li ng-repeat="n in Books.range(1,Books.totalPages)" ><a class="btn <btn-defa></btn-defa>ult" ng-class="{active: n === Books.currentPage }" ng-click="Books.setCurrentPage(n)">{{ n }}</a></li>
					<li ng-show="Books.currentPage < Books.totalPages"><a class="btn btn-default" ng-click="Books.incrementPage()">&raquo;</a></li>
				</ul>
			</nav>
		</div>

	</div>
</div>