 <div class="modal-header">
    <h3 class="modal-title">Are you sure?</h3>
</div>
<div class="modal-body">
    <p>You cannot undo this operation.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="Books.confirmDelete()">Confirm</button>
    <button class="btn btn-warning" type="button" ng-click="Books.dismiss()">Cancel</button>
</div>