 <div class="modal-header">
	<h3 class="modal-title">Add New Book</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="alerts col-sm-12">
			<uib-alert ng-repeat="alert in Books.alerts" type="{{ alert.type }}" class=""><strong>{{ alert.msg }}</strong></uib-alert>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<b>Name:</b> 
			<br>
			<input type="text" placeholder="Name" ng-model="Books.new.name">
		</div>
		<div class="col-sm-4">
			<b>Author:</b>
			<br>
			<input type="text" placeholder="Author" ng-model="Books.new.author">
		</div>

		<div class="col-sm-4">
			<b>Category:</b> 
			<br>
			<input type="text" uib-typeahead="category as category.category_name for category in Books.categories | filter:$viewValue | limitTo:8" typeahead-editable="false" typeahead-input-formatter="Books.formatLabel($model)" placeholder="Category" ng-model="Books.new.category">
		</div>
		<div class="col-sm-4">
			<b>Published Date:</b>
			<br>
			<input type="text" placeholder="Published Date" ng-model="Books.new.published_date">
		</div>
		
	</div>
	<div class="row status" ng-show="Books.new.id">
		<hr>
		<div class="col-sm-4">
			<span ng-show="Books.new.username === Books.AVAILABLETAG || Books.new.username === Books.UNAVAILABLETAG">
				<b>Book Status:</b>
			</span>
			<span ng-show="Books.new.username !== Books.AVAILABLETAG && Books.new.username !== Books.UNAVAILABLETAG">
				<b>Book Borrowed by:</b>
			</span>
			<br>
			<select class="form-control" name="users" id="users" placeholder="Users" ng-options="user.username as user.username for user in Books.users" ng-model="Books.new.username"></select>
		</div>

	</div>
	
</div>
<div class="modal-footer">
	<button class="btn btn-success" type="button" href="javascript:;" ng-click="Books.save(Books.new)">Save</button>
	<button class="btn btn-warning" type="button" href="javascript:;" ng-click="Books.dismiss()">Cancel</button>
</div>